<!-- Design -->
<footer id="footer">
    <p class="copyright">&copy; poligraf.io is a "Ready-To-Graf" virtual appliance made by community for community!<br />
    Feel free to follow PoliGraf on <a href="https://twitter.com/sexigraf_fr">@sexigraf_fr</a><br /><br />
    Brought to you by our geek gurus:<br />
    Raphael SCHITZ | <a href="http://www.hypervisor.fr/">hypervisor.fr</a> | <a href="https://twitter.com/hypervisor_fr">@hypervisor_fr</a><br />
    Frederic MARTIN | <a href="http://www.vmdude.fr/">vmdude.fr</a> | <a href="https://twitter.com/vmdude_fr">@vmdude_fr</a></p>
</footer>