.nav-item .nav-link {
    font-size: 16px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 20px 10px;
}
div.gallery a img {
    margin-bottom: 0px;
}
h3, h4 {
    font-weight: bold;
}
#cta-header::first-letter {
    color: white;
    font-size: 100%;
}
h2::first-letter, h3::first-letter, h4::first-letter {
    color: rgb(57, 177, 33);
    font-size: 130%;
}
.bg-gradient {
    background: linear-gradient( 27deg, rgb(89,181,30) 0%, rgb(137, 179, 75) 100%) !important;
}
.table-no-header thead {
    display: none;
}