{{ define "main" }}

{{ with site.Data.livredor.testimonial }}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <h2>{{ .title }}</h2>
      </div>
    </div>
    <div class="row testimonial-slider">
      {{ range .testimonialItem }}
      <div class="col-4">
        <div class="card border-primary text-center">
          <div class="card-body">
            <img src="{{ .image | absURL }}" class="client-img" alt="{{ .customer | markdownify }}">
            <p class="quoted">{{ .comment | markdownify }}</p>
            <h6 class="font-weight-medium">{{ .customer }}</h6>
            <small>{{ .date }}</small>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ partial "cta.html" . }}

{{ end }}