<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_donations" />
    <input type="hidden" name="business" value="data@sexibyt.es" />
    <input type="hidden" name="item_name" value="Buy us a beer or two" />
    <input type="hidden" name="currency_code" value="EUR" />
    <input type="image" src="/img/donate-paypal.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypal.com/en_FR/i/scr/pixel.gif" width="1" height="1" />
</form>
